{{define "status"}}
[![Build Status](https://travis-ci.org/thrasher-/gocryptotrader.svg?branch=master)](https://travis-ci.org/thrasher-/gocryptotrader)
[![Software License](https://img.shields.io/badge/License-MIT-orange.svg?style=flat-square)](https://github.com/agentbunny/gocryptotrader/blob/master/LICENSE)
{{with .}}[![GoDoc](https://godoc.org/github.com/agentbunny/gocryptotrader?status.svg)](https://godoc.org/github.com/agentbunny/gocryptotrader/{{.}}){{else}}[![GoDoc](https://godoc.org/github.com/agentbunny/gocryptotrader?status.svg)](https://godoc.org/github.com/agentbunny/gocryptotrader/){{end}}
[![Coverage Status](http://codecov.io/github/thrasher-/gocryptotrader/coverage.svg?branch=master)](http://codecov.io/github/thrasher-/gocryptotrader?branch=master)
[![Go Report Card](https://goreportcard.com/badge/github.com/agentbunny/gocryptotrader)](https://goreportcard.com/report/github.com/agentbunny/gocryptotrader)
{{end}}
